
<div>
	<h1>Search for a movie</h1>
	<%= form_tag("/movies", :method => "get") do %>
  <%= text_field_tag(:query, nil, :class => "input-xlarge searchInput") %>
  <button>Submit</button>
	<% end %>
</div>


<% @movies[0..5000].each do |m| %>	
	<h1><%= m.title %></h1>
	<p><%= m.director %></p>
	<p><%= m.cast_members %></p>
	<% end %>
