
<%= search_form_for @q, :remote => true, id: :search_form do |f| %>
  <p>
    <%= f.label :title_cont %>
    <%= f.text_field :title_cont %>
  </p>
    <p>
    <%= f.label :title_start %>
    <%= f.text_field :title_start %>
  </p>
  <p>
    <%= f.label :director_start %>
    <%= f.text_field :director_start %>
  </p>
    <p>
    <%= f.label :director_cont %>
    <%= f.text_field :director_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>



	<div id="movies">

	</div>

