<div id="movies">
  <div class="container-fluid">
	  <div class="row-fluid">
	    <div class="span3 showleft">
	      <img class="show_image" src="<%= @info.poster %>">
	      <div class="infoleft">
		      <h1><%= @info.title %></h1>
		      <p><%= @info.release_date %></p>
		      <p>Length: <%= @info.length %> mins</p>
					<p>Rating: <%= @info.rating %></p>
				</div>
	    </div>

	    <div class="span9 showright">
	    	<div class="info">
		      <p>Plot: <%= @info.plot %></p>
					<p>Genres: <%= @info.genres %></p>
					<p>Director: <%= @info.director %></p>
					<% if @cast == nil %>
						<p>Cast: <%= @info.cast_members %></p>
					<% end %>
				</div>

				<div class="youtube">
					<% if @youtube != nil %>
					<% @youtube.each do |k| %>
						<iframe width="560" height="315" src="//www.youtube.com/embed/<%= k['source'] %>" frameborder="0" allowfullscreen></iframe>
					<% end %>
					<% end %>
					<div class="images">
					<a class="imagemodal" href="#openModal"><img src="http://upload.wikimedia.org/wikipedia/en/d/d6/Preview_icon.png"></a>
						<div id="openModal" class="modalDialog">
							<div>
								<a href="#close" title="Close" class="close">X</a>
								<% if @backdrops != nil %>
									<% @backdrops[0...4].collect do |k| %>
							 			<img src="http://cf2.imgobject.com/t/p/w500<%= k['file_path'] %>">
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				
				<div class="cast">
					<% if @cast != nil %>
						<% @cast.each do |k| %>
							<% if k['profile_path'] != nil %>
								<div class="viewport">
									<a>
										<span class="dark-background">
										<p><%= k['name'] %></p>
										<p>Plays: <%= k['character'] %></p>
										</span>
										<img src="http://cf2.imgobject.com/t/p/w500<%= k['profile_path'] %>">
									</a>
								</div>
							<% end %>
						<% end %>
					<% end %>
				</div>
				
				<div class="similar">
					<% @similar.each do |similar| %>
					<% if similar.poster != nil %>
						<div class="viewport">
							<%= link_to movie_path(similar.id), class: "load_button" do %>
							<span class="dark-background">
							<%= similar.title %>
							</span>
							<img src="<%= similar.poster %>">
							<% end %>
						</div>
						<% end %>
					<% end unless @similar.empty? %>
				</div>

	    </div>
  </div>
</div>



